@page "/ghost"
@inject GhostService Ghost

<h1>Ghost test</h1>

<p>This component demonstrates fetching data from the ghost backend.</p>

@if (GhostAuthors == null)
{
    <p><em>Loading authors...</em></p>
}
else
{
    @foreach(var a in GhostAuthors)
    {
        <p>Author: <a href="/author/@a.Slug">@a.Name</a></p>
    }
}

@if (GhostTags == null)
{
    <p><em>Loading tags...</em></p>
}
else
{
    @foreach(var t in GhostTags)
    {
        <p>Tag: <a href="/tag/@t.Slug">@t.Name</a></p>
    }
}

@if (GhostPages == null)
{
    <p><em>Loading pages...</em></p>
}
else
{
    @foreach(var p in GhostPages)
    {
        <p>Page: <a href="/page/@p.Slug">@p.Title</a></p>
    }
}

@if (GhostPosts == null)
{
    <p><em>Loading posts...</em></p>
}
else
{
    @foreach(var p in GhostPosts)
    {
        <p>Post: <a href="/post/@p.Slug">@p.Title</a></p>
    }
}

@code {
    public Ghost.Author[] GhostAuthors;
    public Ghost.Tag[] GhostTags;
    public Ghost.Page[] GhostPages;
    public Ghost.Post[] GhostPosts;
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine($"settings\n{await Ghost.GetSettingsJsonStringAsync()}");
        Console.WriteLine($"authors\n{await Ghost.GetAuthorsJsonStringAsync()}");
        Console.WriteLine($"tags\n{await Ghost.GetTagsJsonStringAsync()}");
        Console.WriteLine($"pages\n{await Ghost.GetPagesJsonStringAsync()}");
        Console.WriteLine($"posts\n{await Ghost.GetPostsJsonStringAsync()}");

        GhostAuthors = await Ghost.GetAuthorsAsync();
        GhostTags = await Ghost.GetTagsAsync();
        GhostPages = await Ghost.GetPagesAsync();
        GhostPosts = await Ghost.GetPostsAsync();
    }
}
