@page "/ghost"
@inject GhostService Ghost

<h1>Ghost test</h1>

<p>This component demonstrates fetching data from the ghost backend.</p>

@if (GhostTags == null)
{
    <p><em>Loading tags...</em></p>
}
else
{
    @foreach(var t in GhostTags)
    {
        <p>Tag: @t.Name</p>
    }
}

@if (GhostPages == null)
{
    <p><em>Loading pages...</em></p>
}
else
{
    @foreach(var p in GhostPages)
    {
        <p>Page: @p.Title</p>
    }
}

@if (GhostPosts == null)
{
    <p><em>Loading posts...</em></p>
}
else
{
    @foreach(var p in GhostPosts)
    {
        <p>Post: @p.Title</p>
    }
}

@code {
    public Ghost.Tag[] GhostTags;
    public Ghost.Page[] GhostPages;
    public Ghost.Post[] GhostPosts;
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine($"tags\n{await Ghost.GetTagsJsonStringAsync()}");
        Console.WriteLine($"pages\n{await Ghost.GetPagesJsonStringAsync()}");
        Console.WriteLine($"posts\n{await Ghost.GetPostsJsonStringAsync()}");

        GhostTags = await Ghost.GetTagsAsync();
        GhostPages = await Ghost.GetPagesAsync();
        GhostPosts = await Ghost.GetPostsAsync();
    }
}
